{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="loginPage" >
  <form method="post" class="box">
    {% csrf_token %}
    <div class="argument" >
      <p>
        <label for="id_username">Username:</label>
        <input class="changeBox" type="text" name="username" autofocus required id="id_username">
      </p>
	    <p>
        <label for="id_password">Password:</label>
        <input class="changeBox" type="password" name="password" required id="id_password">
      </p>
      <button type="submit" class="btnSubmit">Login</button>
      {% if form.errors %}
          {% for error in form.non_field_errors %}
              <div class="alert">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
