body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

.topnav {
  overflow: hidden;
  background-color: #404040;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0066ff;
  color: white;
}
.container {
  width: 70em;
  margin: auto;
}

.user {
  color: #F2F2F2;
  font-size: 18px;
  display: inline-block;
  float: right;
  margin: 12px 30px;
}
