* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #D6EFE2;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.clear {
  clear: both;
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  //border: 1px solid gray;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.header img {
  float: left;
}

.header ul {
  float: right;
  margin-top: 24px;
}

.header ul li {
  display: inline-block;
  margin-left: 15px;
}

.header ul li:first-child {
  margin-left: 0;
}

.nav {
  margin-top: 50px;
}

.nav ul li{
  float: left;
  display: inline-block;
  margin-left: 0;
}

.nav ul li:first-child {
  margin-left: 0;
}

.nav ul li a {
  background-color: #F3FD83;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #333646;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: yellow;
}

.content {
  margin-top: 50px;
  //background-color: red;
}

.content .left {
  width: 600px;
  display: inline-block;
  float: left;
  //background-color: purple;
}

.content .left .box {
  margin-left: 24px;
  width: 552px;
  margin-bottom: 30px;
  background-color: rgba(51,54,70,0.16);
  border-bottom: 1px solid #333646;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;l
}

.content .left .box:hover{
  background-color: rgba(51,54,70,0.3);
  }

.content .left button {
  width: 120px;
  height: 24px;
  border: 0;
  margin-left: 236px;
  background-image: url('load.png');
  background-repeat: no-repeat;
}

.content .right {
  width: 278px;
  display: inline-block;
  float: left;
  background-color: orange;
}
.content .propDetail{
  background-color: #9EF0C5;
  padding: 10px 20px 20px 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-right: 40%;
  line-height: 2;
}
.content .createdBy{
  font: italic bold 12px/30px Georgia, serif;
  text-align:right;
  margin-bottom: -15px;
}
.content .createdBy p{
  line-height: 1.5;
}

.box{
  background-color: #9EF0C5;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-right: 40%;
}

.box a{
  color: green;
  text-decoration: none;
}

.footer{
  background-color: #F3FD83;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  color: #333646;
  display: inline-block;
  text-decoration: none;
}
.comment h3{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  color: green;
}
.commentBox{
  background-color: #CCF59A;
  font-weight: normal;
}
.box .commentUser{
  text-align: right;
  font-weight: 600;
}

.about{
  background-color: #9EF0C5;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-right: 40%;
}

.dashboard{
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
}

.selectBox {
  padding: 4px;
  margin: 5px;
  color: #333646;
  font-size: 15px;
  border: none;
  background-color: #F3FD83;
}

.selectBox:hover {
  cursor: pointer;
}

.submitText {
  width: 30%;
  height: 25px;
  border: none;
  font-size: 16px;
  padding-left: 5px;
  color: #333646;
}

.helptext {
  font-size: 12px;
  color: red;
}

.argument {
  margin: 8px;
}

.argument p {
  color: #333646;
  padding: 5px;
}

.changeBox {
  padding: 4px;
  margin: 5px;
  border: none;
  background-color: white;
  width: 120px;
  font-size: 16px;
  padding-left: 5px;
}

.btnSubmit {
  margin: 13px;
  border: none;
  width: 70px;
  height: 40px;
  background-color: #F3FD83;
  color: #333646;
  font-size: 14px;
  font-weight: bold;
}

.btnSubmit:hover {
  cursor: pointer;
  background-color: yellow;
}

.submitWarning {
  color: #333646;
  margin: 15px 0px 5px 15px;
}
