body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
}

.container {
  width: 60em;
  margin: 150px auto;
  padding: 20px;
  background-color: white;
}

.content {
  margin: 15px;
  padding: 15px;
  border: 15px double #424242;
  text-align: center;
}

.content p {
  font-size: 20px;
}

/* Navigation Bar */

.topnav {
  overflow: hidden;
  background-color: #404040;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  background-color: #0066ff;
  color: white;
}

/* Hello User :) */

.user {
  color: #F2F2F2;
  font-size: 18px;
  display: inline-block;
  float: right;
  margin: 12px 30px;
}

/* Buttoooon */

input[type=text], input[type=password] {
  width: 30%;
  margin: 2px;
  padding: 5px;
}

.btnSubmit {
  background-color: #0066ff;
  color: #F2F2F2;
  padding: 15px 35px;
  font-size: 16px;
  border: none;
  letter-spacing: 0.5px;
}
.btnSubmit:hover {
  cursor: pointer;
}

.btnSubmit:disabled {
  background-color:#69768a;
}

.invalidArgError{
  background-color: #ff002d;
  color: #F2F2F2;
  padding: 17px 35px;
  font-size: 16px;
  border: none;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

/* About Page */

.about {
  text-align: center;
  font-size: 20px;
  padding: 50px;
}

/* Login Page */

.loginPage {
  text-align: center;
  padding-top: 15px;
}

/* Footer */

.footer {
  color: white;
  height: 50px;
  width: 60em;
  text-align: center;
  padding-top: 4px;
  background-color: #404040;
}

.footer a {
  color: #4C90F7;
}
