{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="box dashboard">
    <h1 class="welcome">Welcome {{ user.username }}</h1>
    {% if user.first_name and user.last_name %}
      Name: {{ user.first_name }}
      <br>
      Surname: {{ user.last_name }}
      <br>
    {% endif %}
    Username: {{ user.username }}
    <br>
    User Email: {{ user.email }}
    <br>
    Last Login: {{ user.last_login }}
    <br>
    Date Joined: {{ user.date_joined }}
  </div>
{% endblock %}
