{% load static %}
  <link rel="stylesheet" href="{% static 'layout/styles/reset.css'%}" type="text/css" />
  <link rel="stylesheet" href="{% static 'layout/styles/base.css'%}" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block scripts %}
    {% endblock %}
    <title>{% block title %} Default Title {% endblock %}</title>

</head>
<body>
  <div class="container">
      <div class="header">
        <a href="{% url 'home' %}">
          <img src="{% static 'logo.png' %}">
        </a>
        <ul>
          <li>
            <a href="">
              tr
            </a>
          </li>
          <li>
            <a href="">
              en
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    <div class="nav">
        <ul>
          <li>
            <a class="active" href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
            {% if user.is_authenticated %}
          <li>
            <a href="{% url 'submit' %}">Submit</a>
          </li>
           <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}">Signup</a>
           <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
          <li>
            {% if user.is_authenticated %}
              <a href="{% url 'dashboard' %}"> {{ user.username }} </a>
            {% endif %}
          </li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
      <p>A tool for deductive reasoning. <a href="https://github.com/lyk2018-python/deductive-reasoning" target="_blank">Support</a> us on github.</p>
    </div>
  </div>
</body>
</html>
