{% load static %}
  <link rel="stylesheet" href="{% static 'layout/styles/base.css'%}" type="text/css" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block scripts %}
    {% endblock %}
    <title>{% block title %} Default Title {% endblock %}</title>
</head>
<body>
  <div class="container">
    <div class="topnav">
        <a class="active" href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
        <div class="user">
          Hello {{ user.username }}
        </div>
          <a href="{% url 'submit' %}">Submit</a>
          <a href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'signup' %}">Signup</a>
          <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
      <p>A tool for deductive reasoning. <a href="https://github.com/lyk2018-python/deductive-reasoning">Support</a> us on github.</p>
    </div>
  </div>
</body>
</html>
