<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Default Title {% endblock %}</title>
</head>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="{% url 'submit' %}">Submit</a>
        <a href="{% url 'signup' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="#">Logout</a>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
