<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>deductive</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
  	<div class="container">
  		<div class="header">
  			<a href="">
  				<img src="logo.png">
  			</a>
  			<ul>
  				<li>
  					<a href="">
  						<img src="facebook.png">
  					</a>
  				</li>
  				<li>
  					<a href="">
  						<img src="twitter.png">
  					</a>
  				</li>
  			</ul>
  			<div class="clear"></div>
  		</div>
  		<div class="nav">
  			<ul>
  				<li>
  					<a href="">
  						Home
  					</a>
  				</li>
  				<li>
  					<a href="">
  						About
  					</a>	
  				</li>
  				<li>
  					<a href="">
  						Sign up
  					</a>
  				</li>
  				<li>
  					<a href="">
  						Login
  					</a>
  				</li>	

  			</ul>
  			<div class="clear"></div>
  		</div>
  		<div class="content">
  			<div class="left">
  				<div class="box">
  					<p>
  						All Humans Are Mortal
	  					<br>
	  					<br>
						All Ömer Are Human
						<br>
						<br>
						All Ömer Are Mortal
						<br>
  					</p>
				</div>
				<div class="box">
  					<p>
  						All Humans Are Mortal
	  					<br>
	  					<br>
						All Ömer Are Human
						<br>
						<br>
						All Ömer Are Mortal
						<br>
  					</p>
				</div>
				<div class="box">
  					<p>
  						All Humans Are Mortal
	  					<br>
	  					<br>
						All Ömer Are Human
						<br>
						<br>
						All Ömer Are Mortal
						<br>
  					</p>
				</div>
  				<button>
  					
  				</button>
  			</div>
  			<div class="right"> sag taraaff
  			</div>
  			<div class="clear"></div>
  		</div>
  	</div>
  </body>
</html>