{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="content">
  <p>{{ major }} </br>
 	{{ minor }}	</br>
  	{{ conclusion }}
  	<div class="createdBy">
  	Created by:{{ major.user }}
  	Date:{{ major.created_date }}
  	</div>
  </p>
</div>
	<form method="post">
      {% csrf_token %}
      <h3>Yorumlar</h3>
        {% for Comment in Comments %}
           <p> {{ Comment }} from {{ Comment.user }} on {{ Comment.created_date }} </p>
      {% endfor %}
      <h3>Yorum Gönder</h3>
          {{ form }}
      <button type="submit"> Submit </button>
      </form>
{% endblock %}