{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="content">
  <div class="propDetail">
    <div style="font-family: Helvetica; float: right; color: green;" >Conclusion Form: "{{ proof.form_type }}"</div>
  	<p>{{ major }}</p>
 	  <p>{{ minor }}</p>
  	<p>{{ conclusion }}</p>
  	<span class="createdBy">
    	<p>Created by:{{ major.user }}</p>
    	<p>Date:{{ major.created_date }}</p>
  	</span>
  </div>
</div>
<div class="comment">
  <form method="post">
    {% csrf_token %}
    {% if Comments %}
      <h3>Comments</h3>
      {% for Comment in Comments %}
        <div class="commentBox box">
          <p class="commentUser">From {{ Comment.user }} on {{ Comment.created_date }} </p>
          <p>" {{ Comment }} " </p>
        </div>
      {% endfor %}
    {% endif %}
    <h3>Send Comment</h3>
    <div class="argument">
      {% if user.is_authenticated %}
        <textarea name="text" cols="61" rows="7" style="resize: none;" required id="id_text"></textarea>
        </br>
        <button  class="btnSubmit" type="submit"> Submit </button>
      {% else %}
        <p class="loginWarning">You need to login in order to comment</p>
      {% endif %}
  </form>
</div>
{% endblock %}
