{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="content">
  <div class="propDetail">
  	<p>{{ major }}</p>
 	<p>{{ minor }}</p>
  	<p>{{ conclusion }}</p>
  	<span class="createdBy">
  	<p>Created by:{{ major.user }}</p>
  	<p>Date:{{ major.created_date }}</p>
  	</span>
  </div>
</div>
	<div class="comment">
		<form method="post">
	      {% csrf_token %}
	      <h3>Comments</h3>
	        {% for Comment in Comments %}
	      <div class="commentBox box">
	           <p class="commentUser">From {{ Comment.user }} on {{ Comment.created_date }} </p>
	           <p>" {{ Comment }} " </p>
	      </div>
	      	{% endfor %}
	      <h3>Send Comment</h3>
	          {{ form }}
	      <button type="submit"> Submit </button>
	      </form>
      </div>
{% endblock %}