{% extends "base.html" %}
{% load static %}
{% block title %}Submit Page{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <form method="post" class="box">
      {% csrf_token %}
      <div class="argument">
        <p>Major argument:<br/></p>
        <select class="selectBox" onchange="onInputTextValueChange()" name="is_universal_major" id="id_is_universal_major">
          <option value="True">All</option>
          <option value="False">Some</option>
        </select>
        <input type="text" class="submitText" onchange="getElements()" name="subject_major" maxlength="255" required id="id_subject_major" />

        <select class="selectBox" onchange="onInputTextValueChange()" name="is_affirmative_major" id="id_is_affirmative_major">
          <option value="True">Are</option>
          <option value="False">Are not</option>
        </select>
        <input type="text" class="submitText" onchange="getElements()" name="predicate_major" maxlength="255" required id="id_predicate_major" />
      </div>

      <div class="argument">
        <p>Minor argument:<br/></p>
        <select class="selectBox" onchange="onInputTextValueChange()" name="is_universal_minor" id="id_is_universal_minor">
          <option value="True">All</option>
          <option value="False">Some</option>
        </select>
        <input type="text" class="submitText" onchange="getElements()" name="subject_minor" maxlength="255" required id="id_subject_minor" />

        <select class="selectBox" onchange="onInputTextValueChange()" name="is_affirmative_minor" id="id_is_affirmative_minor">
          <option value="True">Are</option>
          <option value="False">Are not</option>
        </select>
        <input type="text" class="submitText" onchange="getElements()" name="predicate_minor" maxlength="255" required id="id_predicate_minor" />
      </div>

      <div class="argument">
        <p>Conclusion:<br/></p>
        <select class="selectBox" onchange="onInputTextValueChange()" name="is_universal_conclusion" id="id_is_universal_conclusion">
          <option value="True">All</option>
          <option value="False">Some</option>
        </select>
        <select class="changeBox" name="subject_conclusion" id="id_subject_conclusion">
        </select>

        <select class="selectBox" onchange="onInputTextValueChange()" name="is_affirmative_conclusion" id="id_is_affirmative_conclusion">
          <option value="True">Are</option>
          <option value="False">Are not</option>
        </select>
        <select class="changeBox" name="predicate_conclusion" id="id_predicate_conclusion">
        </select>
      </div>

      <div id="errorForPythonCheck" class="invalidArgError submitWarning" style="display:none;">{{ error }}</div>
      <div id="invalidArg" class="invalidArgError submitWarning" style="display:none;">CANNOT CREATE INVALID ARGUMENT</div>
      <div id="conclusionName" style="font-family: Helvetica; padding: 10px; float: right; color: #333646;"></div>
      <button type="submit" disabled class="btnSubmit" id="buttonSubmit" onclick="this.form.submit();this.disabled=true;" >Submit</button>
      </form>
    {% else %}
      <h3>Please Login</h3>
    {% endif %}
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/submit.js'%}"></script>
{% endblock %}